.intro {
  @include flexibility(center, center, column);

  gap: 3.5rem;
  padding-block: 5rem;
  position: relative;
}

.image {
  width: 95%;
  height: auto;
}

.subheading {
  @include text-10;
}

.absolute-background {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -5;
}

.absolute-background-1 {
  transform: translate(20%, -40%);
}

.absolute-background-2 {
  transform: translate(-40%, -10%);
}