// Body

// Navbar links

@mixin text-5 {
  font-family: 'Nunito Sans', sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
  font-stretch: 100%;
  line-height: 140%;
  letter-spacing: -.025rem;

  @media (min-width: 1200px) {
    font-size: 1.0rem;
  }
}

// Intro

@mixin text-10 {
  font-family: 'Nunito Sans', sans-serif;
  font-size: 1.5rem;
  font-weight: 600;
  font-stretch: 125%;
  line-height: 140%;
  letter-spacing: -.025rem;

  font-variation-settings: 'opsz' 6;

  @media (min-width: 576px) {
    font-size: 1.875rem;
  }
}

// Card heading

@mixin text-15 {
  font-family: 'Nunito Sans', sans-serif;
  font-size: 2.5rem;
  font-weight: 400;
  font-stretch: 110%;
  line-height: 140%;
  letter-spacing: -.025rem;
}

// Default text

@mixin text-20 {
  font-family: 'Nunito Sans', sans-serif;
  font-size: 1.05rem;
  font-stretch: 110%;
  font-weight: 400;
  line-height: 140%;
  letter-spacing: -.025rem;

  @media (min-width: 1200px) {
    font-size: 1.25rem;
  }

  @media (min-width: 1600px) {
    font-size: 1.625rem;
  }
}

// Headings

@mixin text-25 {
  font-family: 'SF Pro Text', sans-serif;
  font-size: 9.375rem;
  line-height: 100%;
  letter-spacing: -.025rem;
}

// Section text

@mixin text-30 {
  font-family: 'Nunito Sans', sans-serif;
  font-size: 2.5rem;
  font-weight: 500;
  font-stretch: 100%;
  line-height: 140%;
  letter-spacing: 0;
}

// Tag text

@mixin text-35 {
  font-family: 'Nunito Sans', sans-serif;
  font-size: 2.25rem;
  line-height: 140%;
  font-weight: 500;
  font-stretch: 100%;
  letter-spacing: 0;
}

// Screens heading

@mixin text-40 {
  font-family: 'Nunito Sans', sans-serif;
  font-size: 4.0rem;
  font-weight: 500;
  font-stretch: 100%;
  line-height: 140%;
  letter-spacing: 0;
}


// FAQ card

@mixin text-45 {
  font-family: 'Nunito Sans', sans-serif;
  font-size: 1.5rem;
  font-weight: 600;
  font-stretch: 100%;
  line-height: 140%;
  letter-spacing: 0;

  @media (min-width: 576px) {
    font-size: 1.875rem;
  }
}

// Footer card

@mixin text-45 {
  font-family: 'Nunito Sans', sans-serif;
  font-size: .75rem;
  font-weight: 500;
  font-stretch: 100%;
  line-height: 140%;
  letter-spacing: 0;
}

// Button

@mixin text-50 {
  font-family: 'Nunito Sans', sans-serif;
  font-size: 1.5rem;
  font-weight: 600;
  font-stretch: 120%;
  line-height: 150%;
  letter-spacing: -.05rem;

  font-variation-settings: 'opsz' 10;

  @media (min-width: 576px) {
    font-size: 1.875rem;
  }
}