.embla {
  @include flexibility(center, center, column);

  gap: 2.5rem;
  width: 100dvw;
  overflow: hidden;
}

.viewport {
  cursor: pointer;
  padding-inline: 1.5rem;
  overflow: hidden;
}

.container {
  display: flex;
}

.slide {
  position: relative;
  margin-right: .5rem;
}

.flash {
  display: flex;
  padding: 2.5rem;
  flex: 0 0 100%;
}

.dot {
  width: 10px;
  height: 10px;
  margin: 0 5px;
  background-color: var(--transparent-color-5);
  border: none;
  border-radius: 50%;
  cursor: pointer;
}

.isActive {
  background-color: var(--primary-color-5);
}

