.embla {
  width: 100dvw;
  overflow: hidden;
}

.viewport {
  cursor: pointer;
  padding-inline: 1.5rem;
  overflow: hidden;
}

.container {
  display: flex;
}

.slide {
  position: relative;
  margin-right: .5rem;

  @media (min-width: 992px) {
    display: flex;
    padding: 2.5rem;
    flex: 0 0 100%;
  }
}
