.container {
  width: min(100%, 120rem);
  margin: 0 auto;
  padding-inline: 1.5rem;

  @media (min-width: 768px) {
    padding-inline: 2.5rem;
  }

  @media (min-width: 992px) {
    padding-inline: 3.125rem;
  }

  @media (min-width: 2020px) {
    padding: 0;
  }
}