[data-theme='light'] {
  --accent-color-5: var(--identify-color-20);
  --accent-color-10: var(--identify-color-25);
  --accent-color-15: var(--identify-color-5);

  --primary-color-5: #252525;
  --additional-color-5: #FFFFFF;

  --transparent-color-5: rgba(16, 16, 16, 0.3);
  --transparent-color-10: rgba(0, 0, 0, 0.05);
  --transparent-color-15: rgba(255, 0, 85, 0.4);
}

[data-theme='dark'] {
  --accent-color-5: var(--identify-color-5);
  --accent-color-10: var(--identify-color-10);
  --accent-color-15: var(--identify-color-20);

  --primary-color-5: #F0F0F0;
  --additional-color-5: #101010;

  --transparent-color-5: rgba(240, 240, 240, 0.25);
  --transparent-color-10: rgba(255, 255, 255, 0.05);
  --transparent-color-15: rgba(5, 255, 112, 0.4);
}

:root {
  --identify-color-5: #05FF70;
  --identify-color-10: #AFFFFC;
  --identify-color-20: #FF0055;
  --identify-color-25: #5505FF;

  --transition: 200ms all ease-in-out;
}