[data-theme='light'] {
  --accent-color-5: var(--identify-color-20);
  --accent-color-10: var(--identify-color-25);
  --accent-color-15: var(--identify-color-5);
  --accent-color-20: var(--identify-color-10);

  --primary-color-5: #252525;
  --additional-color-5: #FFFFFF;

  --positive-color-5: #95FF95;

  --transparent-color-5: rgba(16, 16, 16, 0.3);
  --transparent-color-10: rgba(230, 230, 230, 0.5);
  --transparent-color-15: rgba(255, 0, 85, 0.4);
  --transparent-color-20: rgba(0, 0, 0, 0.5);
  --transparent-color-25: rgba(25, 25, 25, 0.6);
  --transparent-color-30: rgba(16, 16, 16, 0.4);
  --transparent-color-35: rgba(16, 16, 16, 0.3);
  --transparent-color-40: rgba(16, 16, 16, 0.3);
  --transparent-color-45: rgba(16, 16, 16, 0.1);

  --linear-gradient-5: linear-gradient(to bottom, #AFFFFC90 0%, #05FF7050 100%);
  --linear-gradient-10: linear-gradient(to bottom, #FF005550 0%, #AFFFFC80 100%);
  --linear-gradient-15: linear-gradient(to bottom, #5505FF50 0%, #FF005530 100%);
  --linear-gradient-20: linear-gradient(to bottom, #05FF7070 0%, #5505FF30 100%);
}

[data-theme='dark'] {
  --accent-color-5: var(--identify-color-5);
  --accent-color-10: var(--identify-color-10);
  --accent-color-15: var(--identify-color-20);
  --accent-color-20: var(--identify-color-25);

  --primary-color-5: #F0F0F0;
  --additional-color-5: #101010;

  --positive-color-5: #5505FF;

  --transparent-color-5: rgba(240, 240, 240, 0.25);
  --transparent-color-10: rgba(30, 30, 30, 0.5);
  --transparent-color-15: rgba(85, 5, 255, 0.4);
  --transparent-color-20: rgba(255, 255, 255, 0.5);
  --transparent-color-25: rgba(255, 255, 255, 0.6);
  --transparent-color-30: rgba(255, 255, 255, 0.6);
  --transparent-color-35: rgba(255, 255, 255, 0.5);
  --transparent-color-40: rgba(240, 240, 240, 0.0);
  --transparent-color-45: rgba(255, 255, 255, 0.25);

  --linear-gradient-5: linear-gradient(to bottom, #AFFFFC 0%, #05FF70 100%);
  --linear-gradient-10: linear-gradient(to bottom, #FF0055 0%, #AFFFFC 100%);
  --linear-gradient-15: linear-gradient(to bottom, #5505FF 0%, #FF0055 100%);
  --linear-gradient-20: linear-gradient(to bottom, #05FF70 0%, #5505FF 100%);
}

:root {
  --identify-color-5: #05FF70;
  --identify-color-10: #AFFFFC;
  --identify-color-20: #FF0055;
  --identify-color-25: #5505FF;

  --negative-color-5: #FF0025;

  --transition: 200ms all ease-in-out;
}