.navbar {
  display: none;

  @media (min-width: 1200px) {
    display: block;
  }
}

.list {
  @include row(9.375rem);
}

.link {
  @include text-5;

  &:hover {
    color: var(--accent-color-5);
  }
}