.header {
  width: 100%;
  padding-block: .75rem;
  backdrop-filter: blur(.5rem);
  background: var(--transparent-color-10);
  top: 0;
  position: fixed;
  z-index: 5;
}

.content {
  @include flexibility(space-between, center);

  width: 100%;
}

.buttons {
  @include flexibility(center, center);

  gap: 1.5rem;
}

.part {
  @include row(12.5rem);

  align-items: center;
}