.interface {
  @include flexibility(center, center, column);

  gap: 5rem;
  padding-block: 5rem;
  position: relative;

  @media (min-width: 1200px) {
    padding-block: 10rem;
    gap: 10rem;
  }
}

.image {
  margin: 0 auto;
  width: 15rem;
  height: auto;
  border-radius: 3.0rem;
  background: #FFFFFF;

  @media (min-width: 420px) {
    width: 20rem;
  }

  [data-theme='light'] & {
    box-shadow: 0 0 1.05rem .5rem var(--transparent-color-45);
  }

  [data-theme='dark'] & {
    box-shadow: 0 0 30px 5px rgba(255, 255, 255, 0.5);
  }
}

.heading {
  @include text-40;

  text-align: center;
}

.content {
  @include flexibility(center, center, column);

  gap: 10rem;
}